.main {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* padding: 4rem 0; */
  background-color: #161d28;
  color: #fafafa;
}

.leftside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  min-height: 100vh;
  border: solid 1px #fff;
  background-image: url("../public/twitterImage.png");
}

.rightside {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  min-height: 100vh;
  border: solid 1px #fff;
  padding: 5%;
}

.rightLogo {
  height: 25%;
}
.tLogo {
  margin: 0 0 300px 0;
}

.btnLogs {
  padding: 15px 80px;
  border-radius: 25px;
  font-size: 1.2rem;
  border: none;
  background-color: #3790ef;
  cursor: pointer;
}

.closX {
  cursor: pointer;
}
