.main {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* padding: 4rem 0; */
  background-color: #161d28;
  color: #fafafa;
}

.title {
  font-size: 3.5rem;
}

.leftside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  min-height: 100vh;
  border: solid 1px #fff;
  background-image: url("../public/twitterImage.png");
}

.rightside {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  border: solid 1px #fff;
  padding: 5%;
}

.rightLogo {
  height: 10%;
}
.tLogo {
  /* margin: 0 0 300px 0; */
}

.btnLogs {
  padding: 10px 60px;
  border-radius: 25px;
  font-size: 1.2rem;
  border: none;
  background-color: #3790ef;
  cursor: pointer;
}

.modalIn {
  display: "flex";
  flex-direction: "column";
  gap: "10px";
  border-radius: "10px";
  background-color: "#161D28";
}
.inputStyle {
  background: #161d28;
  color: #fff;
  border: 1px solid #fff;
  width: auto;
  height: 6rem;
  font-size: 2rem;
}
.closX {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
}
